<%= labelled_tabular_form_for(kitten, url: { action: kitten.new_record? ? :create : :update }) do |f| %>

<%= error_messages_for kitten %>

<section class="form--section">
  <div class="form--field -required">
    <%= f.text_field :name, required: true %>
  </div>

    <div class="widget-box--blocks--buttons">
        <button type="submit" class="button -alt-highlight" title="New Kitten">
            <span class="button--text"><%= t(:button_create) %></span>
        </button>
    </div>
</section>

<% end %>