<% html_title l(:label_kittens) %>

<h1><%= l(:label_kittens) %></h1>

<p>
  These are the kittens:
</p>

<ul ng-controller="KittensController as kittens">
  <% @kittens.each do |kitten| %>
    <li ng-click="showMessage()"><%= kitten %></li>
  <% end %>
</ul>

<div style="position: absolute; bottom: 20px; right: 0px;">
  <%= image_tag 'kitty.png', width: 320, height: 200 %>
</div>
