<% html_title t(:label_kittens) %>

<h1><%= t(:label_kittens) %></h1>

<p>
  ENSE 374 Project:
</p>


<pre>
  /*****************/<br>
  /*Table goes here*/<br>
  /*Hello I am     */<br>
  /*        "Name" */<br>
  /*Today's date is*/<br>
  /*        "Date" */<br>
  /*****************/<br>
</pre>


<%= render "shared/kitty_image" %>
