<% html_title l(:label_kittens) %>

<h1><%= l(:label_kittens) %></h1>

<p>
  These are the kittens:
</p>

<ul ng-controller="KittensController as kittens">
  <% @kittens.each do |kitten| %>
    <li ng-click="showMessage()"><%= kitten %></li>
  <% end %>
</ul>

<%= render "shared/kitty_image" %>
