<h3 class="widget-box--header" id="proto-plugin-block">
  <span class="icon-context icon-cart"></span>
  <span class="widget-box--header-title">Proto Plugin</span>
</h3>

<div class="widget-box--billing-information">
  <ul class="widget-box--arrow-links">
    <li>
      <%= link_to "Kittens", kittens_path, title: "Go see kittens" %>
    </li>
  </ul>
</div>
