// CSS goes here.
// The file will be automatically included as global styles
//
// We however recommend you create component-scoped styles in angular
// components whenever possible


#homescreen-after-links .widget-box {
  border-color: red;
}

.proto-plugin-widget-box {
  border-color: red !important;
}

.flash.kittens {
  color: white;
  background-color: red;
  font-weight: bold;
}

#kittens-menu-item-wrapper a#kittens-menu-item > span {
  color: red;
}

.kitty-image {
  position: absolute;
  bottom: 20px;
  right: 0;

  img {
    width: 320px;
    height: 200px;
}
}

.kitten-error {
  color: red;
  opacity: 0.75;
}

input#kitten_name {
  width: 25%;
}
