<section class="widget-boxes -flex" id="homescreen-after-links">
  <div class="widget-box">
    <h3 class="widget-box--header">
      <%= op_icon('icon-context icon-user') %>
      <span class="widget-box--header-title">:homescreen_after_links hook</span>
    </h3>

    <ul class="widget-box--arrow-links">
      <li>For kittens go <%= link_to "here", angular_kittens_path %>.</li>
    </ul>
  </div>
</section>